{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Blood Pressure Tracker</h1>
    <p class="lead">Log and monitor your blood pressure readings easily.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'log_reading' %}" role="button">Log a Reading</a>
    <a class="btn btn-success btn-lg" href="{% url 'view_averages' %}" role="button">View Averages</a>
    <a class="btn btn-info btn-lg" href="{% url 'display_trends' %}" role="button">Display Trends</a>
    <a class="btn btn-dark btn-lg" href="https://github.com/<your-username>/<your-repo>" role="button" target="_blank">View on GitHub</a>
</div>
{% endblock %}
