{% extends 'base.html' %}

{% block title %}View Averages{% endblock %}

{% block content %}
<h2>View Averages</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Systolic</th>
            <th>Diastolic</th>
            <th>Pulse</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ averages.systolic }}</td>
            <td>{{ averages.diastolic }}</td>
            <td>{{ averages.pulse }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
