{% extends 'base.html' %}

{% block title %}Averages and Trends{% endblock %}

{% block content %}
    <h2>Average Readings</h2>

<div class="stats-container">
    <div class="stat-card">
        <span class="stat-label">Systolic</span>
        <span class="stat-value">{{ averages.systolic__avg }}</span>
    </div>
    <div class="stat-card">
        <span class="stat-label">Diastolic</span>
        <span class="stat-value">{{ averages.diastolic__avg }}</span>
    </div>
    <div class="stat-card">
        <span class="stat-label">Pulse</span>
        <span class="stat-value">{{ averages.pulse__avg }}</span>
    </div>
</div>

<h2>Trends</h2>
<img class="img-fluid" src="data:image/png;base64,{{ image }}" alt="Blood Pressure Trends">
{% endblock %}
